img {
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: crimson;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

body {
    height: 616px; 
    width: 996px;
    text-align: justify;
}

h3 {
    color: crimson;
}

 .italico {
     font-style: italic;
 }

 h3 {
     text-align: center;
 }

 section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    background: #ccc;
    height: 470px;
}

section .links {
    grid-column: 1/2;
    grid-row: 1/2;
}

section .texto {
    grid-column: 2/4;
    grid-row: 1/3;
}

section .video1 {
    grid-column: 4/4;
    grid-row: 1/2;
}

section .video2 {
    grid-column: 5/5;
    grid-row: 1/2
}

section .video3 {
    grid-column: 4/4;
    grid-row: 3/3
}

section .video4 {
    grid-column: 5/5;
    grid-row: 3/3
}